@model IEnumerable<Est_Datos_LAB_00.Models.UsuariosModel>

@{
    ViewData["Title"] = "Mostrar Usuarios";
}

<h1>Mostrar Usuarios</h1>

<p>
    <a asp-action="OUsuarios">Ordenar Por Nombre</a>
</p>

<p>
    <a asp-action="OApellidos">Ordenar Por Apellido</a>
</p>

<p>
    <a asp-action="OrdenID">Ordenar Por ID</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (UsuariosModel item in ViewBag.Usuarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Crear Otro Usuario</a>
</div>
